<div class="search-area">
  <h3>Search other Users</h3>
  <%= form_tag search_friend_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :friend, params[:friend], placeholder: "Name or e-mail", autofocus: true, class: 'form-control form-control-lg' %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: 'btn btn-success btn-lg' do %>
          <% fa_icon 'search' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="friend-results">

</div>


<h1 class='text-center mt-5'>Your friend list</h1>
<div class="container col-10 mt-3">
  <% @friendships.each do |friendship| %>
    <div class="card">
      <h5 class="card-header"><%= friendship.friend.full_name %></h5>
      <div class="card-body">
      <p>
        <a class="btn btn-success" data-bs-toggle="collapse" href="#FriendData" role="button" aria-expanded="false" aria-controls="FriendData">
          Info 
        </a>
        <a class="btn btn-success" data-bs-toggle="collapse" href="#FriendStocks" role="button" aria-expanded="false" aria-controls="FriendStocks">
          Stocks
        </a>
        <%= link_to 'Stop tracking', friendship_path(friendship), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </p>
      <div class="collapse" id="FriendData">
        <div class="card card-body">
          <%= friendship.friend.email %>
        </div>
      </div>
      <div class="collapse" id="FriendStocks">
        <div class="card card-body"> 
          <table class="table table-bordered table-hover mt-5">
            <thead>
              <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <% friendship.friend.stocks.each do |stock| %>
                <tr>
                  <th scope="row"><%= stock.ticker %></th>
                  <td><%= stock.name %></td>
                  <td><%= stock.last_price %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
