<div class="container col-10 mt-5">
  <% @friendships.each do |friendship| %>
    <div class="card">
      <h5 class="card-header"><%= friendship.friend.full_name %></h5>
      <div class="card-body">
      <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#FriendData" role="button" aria-expanded="false" aria-controls="FriendData">
          Friend Info 
        </a>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#FriendStocks" role="button" aria-expanded="false" aria-controls="FriendStocks">
          Friend Stocks
        </a>
        <%= link_to 'Stop tracking', friendship_path(friendship), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
      </p>
      <div class="collapse" id="FriendData">
        <div class="card card-body">
          <%= friendship.friend.email %>
        </div>
      </div>
      <div class="collapse" id="FriendStocks">
        <div class="card card-body"> 
          <table class="table table-bordered table-hover mt-5">
            <thead>
              <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <% friendship.friend.stocks.each do |stock| %>
                <tr>
                  <th scope="row"><%= stock.ticker %></th>
                  <td><%= stock.name %></td>
                  <td><%= stock.last_price %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
